/*
br/bg 추천 
#8A8A8A
#aaaaaa
-
#01027a - 첫번째 네이비
#9EBBFD - 연파랑
#0063F6 - 연분홍이랑 어울리는 파랑
#fdcef7 - 연분홍
#E52F7A - 진분홍
#FC3027 - 쨍분홍
#23C4AF - 옛그린
#7448ff - 밝보라 
#bcfe4a - 쨍연두
 */

:root {
  --bgMain: #eeeeee;
  --bgSecond: #aaaaaa;
  --bgWhite: #fefefe;
  --ttBlack: #1c1c1c;
  --homeBg: #bffeb8;
  --homeTt: #7448ff;
  --blogBg: #fdcef7;
  --blogTt: #23c4af;
  --portBg: #aa9ced;
  --portTt: #ece7d4;
  --postHd: #01027a;
}

.bg-bgMain {
  background-color: var(--bgMain);
}
.bg-bgSecond {
  background-color: var(--bgSecond);
}
.bg-bgHello {
  background-color: var(--bgHello);
}
.bg-bgWhite {
  background-color: var(--bgWhite);
}
.border-bgSecond {
  border: 3px solid var(--bgSecond);
}
.border-bgWhite {
  border: 3px solid var(--bgWhite);
}
