@import "tailwindcss";
@import "./custom.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bgMain);
}

.layout-body {
  @apply max-w-screen-lg min-w-[320px] mx-auto transition-colors ease-in-out duration-200 text-lg;
}

.layout-main {
  /* @apply flex flex-col w-full h-full min-h-[calc(100vh)]; */
  @apply flex flex-col w-full h-screen;
}

.page-layout {
  @apply pt-35 pb-15 max-w-screen-md w-full min-h-[calc(100vh)];
  border: solid 3px var(--bgWhite);
  background-color: var(--bgMain);
}

/* 스크롤 숨김 처리리 */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* 크롬, 사파리용 */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge용 */
  scrollbar-width: none; /* 파이어폭스용 */
}

.home-section {
  @apply w-full flex flex-col justify-center items-center min-h-[calc(100vh-40px)];
  border: solid 3px var(--bgWhite);
  border: solid 3px lavender;
}

.tab-item-layout {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: solid 3px var(--bgSecond);
  border-bottom: none;
  padding: 0.45rem 1.55rem;
}

.child-image {
  @apply object-cover w-full h-full;
}

.sticky-div {
  @apply sticky top-31 z-10 bg-[var(--bgMain)];
}

.icon-div {
  @apply flex items-center justify-center h-6 w-6 ml-1 rounded-[2px] border-2;
}

/* 블로그 상세 페이지 레이아웃 */
.detail-page-layout {
  @apply text-base;

  .title-box {
    padding: 2rem 1.2rem 1.2rem 1.2rem;
  }

  .title {
    color: var(--ttBlack);
    font-size: 1.7rem;
    font-weight: bold;
  }
  .description {
    color: var(--ttBlack);
    font-size: 1rem;
  }
  .date {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: var(--bgSecond);
  }

  .content {
    padding: 0rem 0.3rem 1.8rem 0.7rem;
  }
  h2 {
    color: var(--ttBlack);
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2.5rem 0rem 1.3rem 0rem;
    padding: 0rem 0.3rem;
  }
}
