@import "tailwindcss";
@import "./custom.css";
@import "./mdx-styles.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bgMain);
}

.layout-body {
  @apply max-w-screen-lg min-w-[340px] mx-auto transition-colors ease-in-out duration-200 text-lg;
}

.layout-main {
  @apply flex flex-col w-full min-h-[100dvh];
  /* background: linear-gradient(to right, #b6cbfc, #fecef8); */
  background: linear-gradient(to right, var(--overallBg), #cdfae3);
}

.page-layout {
  @apply pt-35 pb-15 max-w-screen-md w-full min-h-[100dvh];
  border: solid 3px var(--bgWhite);
  background-color: var(--bgMain);
}

/* 스크롤 숨김 처리 */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* 크롬, 사파리용 */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge용 */
  scrollbar-width: none; /* 파이어폭스용 */
}

/* 홈화면 css */
.home-section {
  @apply w-full min-h-[calc(100dvh-40px)] h-[calc(100dvh-40px)];
  border: solid 3px var(--bgWhite);
}

.shadow-in-button {
  @apply flex items-center justify-center px-2 h-8 mt-1 border-t border-l border-3 border-[var(--bgWhite)] shadow-[-2px_-2px_1px_var(--bgSecond)];
}
.shadow-out-button {
  @apply flex items-center justify-center h-8 border-b border-r border-2 border-[var(--bgWhite)] shadow-[2px_2px_1px_var(--bgSecond)] cursor-pointer;
}

.checkerboard {
  width: 100%;
  height: 90%;
  background-color: var(--bgWhite);
  background-image: linear-gradient(45deg, var(--ttBlack) 25%, transparent 25%),
    linear-gradient(-45deg, var(--ttBlack) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--ttBlack) 75%),
    linear-gradient(-45deg, transparent 75%, var(--ttBlack) 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-main {
  @apply h-[45vh] min-h-[350px] max-h-[500px] w-[65%] min-w-[330px] max-w-[700px] mt-[10vh] flex flex-col items-center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--footerBg);
  /* background-color: #d3d3d3; */
  border: solid 1px #c9c9c7;
  padding: 2px;
}
.left-text {
  @apply text-xl;
}
@media (max-width: 784px) {
  .custom-box {
    height: 80%;
  }
  .left-text {
    @apply text-lg;
  }
}
.stripe-background {
  background: repeating-linear-gradient(
    to bottom,
    var(--mainTt2),
    var(--mainTt2) 1px,
    transparent 1px,
    transparent 4px
  );
}
@keyframes bounceUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}
.bounce-up {
  display: inline-block;
  animation: bounceUp 1s ease-in-out infinite;
}
@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}
.bounce-right {
  display: inline-block;
  animation: bounceRight 1s ease-in-out infinite;
}

.blink {
  animation: blink 1.3s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* 헤더 탭 */
.tab-item-layout {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: solid 3px var(--bgSecond);
  border-bottom: none;
  padding: 0.45rem 1.55rem;
}

.sticky-div {
  background-color: var(--bgMain);
  z-index: 10;
  position: sticky;
  position: -webkit-sticky;
  top: 125;
}

.icon-div {
  @apply flex items-center justify-center h-7 w-7 ml-1 rounded-[2px] border-2;
}
